@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  background-color: var(--color-bg-secondary);
  color: var(--color-white);
}

* {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --color-white: hsla(0, 0%, 100%, 1);
  --color-black: hsla(0, 0%, 0%, 1);
  --color-bg-secondary: hsla(220, 14%, 11%, 1);
  --color-bg-primary: hsla(220, 18%, 5%, 1);
  --color-bg-grey: hsla(0, 0%, 100%, 0.08);
  --color-pink: hsla(324, 100%, 70%, 1);
  --color-blue: hsla(227, 100%, 67%, 0.2);
  --linear-gradient-blue: linear-gradient(
    267.57deg,
    hsla(227, 100%, 67%, 1) 0%,
    hsla(201, 100%, 65%, 1) 100%
  );

  --section-padding: 5rem;
}

section {
  background: var(--color-bg-primary);
  border-radius: 5rem;
  padding: var(--section-padding);
  margin-bottom: 5px;
}

section > h2 {
  font-weight: 700;
  font-size: 9rem;
  line-height: 8rem;
  letter-spacing: -0.07em;
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES) ======== */
@media screen and (max-width: 1024px) {
  section > h2 {
    font-size: 5rem;
    line-height: 5rem;
  }
}

/* =========== MEDIA QUERIES (SMALL DEVICES) ======== */
@media screen and (max-width: 600px) {
  section {
    border-radius: 3rem;
    padding: 2rem;
  }

  section > h2 {
    font-size: 3rem;
    line-height: 3rem;
  }
}
